<h1><%= @list.name %></h1>

<div>
  <%= @list.movies.each do |movie| %>
    <%= movie.title %>
    <%= bookmark = Bookmark.where(movie: movie, list: @list) %>
    <%= link_to 'delete', bookmark_path(bookmark), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "card-remove-link" %>
  <% end %>
</div>

<%= link_to 'add a bookmark', new_list_bookmark_path(@list) %>
<%= link_to 'Back', lists_path %>
